*,
.html{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(81, 0, 0);
    min-height: 100vh;
}

.welcoming{
     font-style: oblique;
     color: snow;
     display: flex;
     justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 0, 0);;
}   
.foto{
    width: 50%;
    height: 30vh;
    justify-content: center;
    display: flex;
    align-items: center;

}



.pesan{
    align-items: center;
    justify-content: center;
    height: 50px;
}

.tombol{
     border-radius: 10px;
    background-color: rgb(63, 43, 2);
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    margin: 0 auto;
    display: inline-block;
}

.baloncontainer{
    position: absolute;
    bottom: -100vh;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 100;
}

.balon{
    position: absolute;
    width: 50px;
    animation: terbang 6s linear infinite;
}

.balon:nth-child(1) {left: 10%;}
.balon:nth-child(2) {left: 40%;}
.balon:nth-child(3) {left: 70%;}

.delay-1 {animation-delay:  2s;}
.delay-2 {animation-delay: 4s;}

@keyframes terbang {
    0% {bottom: 80%; opacity: 0;}
    10% {opacity: 1;}
    100% {bottom: 1100px; opacity: 0;}
}